nav p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
}

.graph__svg {
    background-color: #eee;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #8a8a8a;
}

#tableBody tr:nth-child(odd) {
    background-color: #f2f2f2; /* 원하는 색상으로 변경 */
}

#tableBody tr:nth-child(even) {
    background-color: #e6e6e6; /* 원하는 색상으로 변경 */
}

.advanced-editor__container {
    border: 1px solid #000;
    padding: 10px;
    width: 250px;
}

.advanced-editor__container__text {
    padding: 0 15px; /* 상하 5px, 좌우 15px 패딩 */
    white-space: pre-line; /* 줄바꿈 및 공백 유지 */
}

p.advanced-editor__container__bracket,
p.advanced-editor__container__text {
    margin: 0; /* 상하 마진 제거 */
}
