nav p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
}

.graph__svg {
    background-color: #eee;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #8a8a8a;
}

#tableBody tr:nth-child(odd) {
    background-color: #f2f2f2; /* 원하는 색상으로 변경 */
}

#tableBody tr:nth-child(even) {
    background-color: #e6e6e6; /* 원하는 색상으로 변경 */
}
