.main__container {
    width: 1280px;
    margin: 0 auto;
}

nav p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15%;
}

.graph__svg {
    background-color: #eee;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #8a8a8a;
}

#tableBody tr:nth-child(odd) {
    background-color: #f2f2f2; /* 원하는 색상으로 변경 */
}

#tableBody tr:nth-child(even) {
    background-color: #e6e6e6; /* 원하는 색상으로 변경 */
}

.edit-data__btnDiv {
    display: flex;
    justify-content: flex-end;
}

.edit-data__apply-btn {
    margin-top: 1%;
}

.advanced-editor__container {
    border: 1px solid #000;
    padding: 10px;

    position: relative;
}

.advanced-editor {
    width: 50%;
}

.advanced-editor__text {
    padding: 0 15px; /* 상하 5px, 좌우 15px 패딩 */
    white-space: pre-line; /* 줄바꿈 및 공백 유지 */
}

p.advanced-editor__bracket,
p.advanced-editor__text {
    margin: 0; /* 상하 마진 제거 */
    font-size: small;
}

.advanced-editor__editable-value {
    cursor: pointer;
    position: relative; /* 상대적 위치 지정 */
}

.advanced-editor__editable-value:hover::after {
    content: "더블클릭하여 편집";
    position: absolute;
    bottom: -20px;
    left: 0;
    white-space: nowrap;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: smaller;
    z-index: 1000;
}

.advanced-editor__save-btn {
    position: absolute;
    bottom: 5px;
    right: 80px;
}
.advanced-editor__cancel-btn {
    position: absolute;
    bottom: 5px;
    right: 10px;
}
/* 모든 input 태그에 적용 */
input {
    border: none; /* 기본 테두리 제거 */
    border-bottom: 1px solid #000; /* 밑줄 테두리 추가 */
    background-color: transparent; /* 배경색 제거 */
}

/* input이 포커스를 받았을 때 */
input:focus {
    outline: none; /* 기본 포커스 테두리 제거 */
}
